aside#directory{
    position: fixed;
    margin: 10px;
    left: 0px;
    top: 10px;
    width: 300px;
}

article{
    margin: 10px;
    margin-left: 320px;
    padding: 10px;
    width: 800px;
}

article img{
    border:0;max-width:100%;
}

