body{
    background-color: whitesmoke;
    font-family: Arial, 微软雅黑;
}

aside#directory, article{
    background-color: white;
}

aside#directory{
    position: fixed;
    margin: 10px;
    left: 0px;
    top: 10px;
    width: 300px;
}

article{
    margin: 10px;
    margin-left: 320px;
    margin-right: 320px;
}

article h1{
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 2px solid #eeeeee;
}

article h2{
    font-size: 1.4em;
    padding-top: 20px;
}

article h3{
    font-size: 1.3em;
    padding-top: 20px;
}

article h4{
    font-size: 1.2em;
}

article h5{
    font-size: 1.1em;
}

article h6{
    font-size: 1em;
}

article img{
    border:0;max-width:100%;
}

article pre{
    padding:0;
    font-size:12px;
    background-color:#eee;
    border:none;
}