<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/article.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/default.css')}}">
        <title> {{title}} </title>
    </head>
    <body>
        <aside id="directory">
            <p>这里将有个文章的目录导航。正在施工中... </p>
        </aside>
        <article>
        {{text|safe}}
        </article>
    </body>
</html>